* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-cart {
  font-size: 1.5rem;
  padding: 2px 15px;
  position: relative;
}
.btn-cart::after {
  content: attr(data-count);
  font-size: 14px;
  background: orange;
  color: #fff;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -6px;
  right: -11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}
.btn-cart.active::after {
  opacity: 1;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 30px 10px;
}
.cartList {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 2000;
}
.cartList.active {
  visibility: visible;
}
.cartList .bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s;
}
.cartList.active .bg {
  opacity: 1;
}
.cartList-inner {
  position: relative;
  z-index: 1;
  background: #fff;
  height: 100%;
  width: 100%;
  max-width: 500px;
  transform: translateX(-100%);
  transition: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cartList.active .cartList-inner {
  transform: translateX(0);
}
.cartList-item .product-img {
  max-height: 100px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.cartList-item .product-price {
  font-weight: bold;
}
.cartList-item {
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.cartList-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.cartList-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 8px;
  background: #fff;
  z-index: 3000;
  max-width: 460px;
  transform: translateX(-100%);
  transition: 0.5s;
}
.cartList.active .cartList-footer {
  transform: translateX(0);
}
.btn-closeCart {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  color: #555;
  padding: 5px 15px;
}
.cartItems {
  padding-bottom: 120px;
}
